    <header id="header-container">
        <a id="logo-shared" href="/"></a>
    </header>
@{
    if(HttpContext.Current.User.Identity.IsAuthenticated)
    {
        Html.RenderPartial("Menu");
    }
}
