<div id="top-menu">
    <nav>
        <ul>
            <li>
                @Html.ActionLink("Logg Out", "LogOff", "Account")
            </li>
            <li>
                <a class="menu_work" href="/Stores/Index">
                    <span class="ca-icon"><img src="/Content/images/stores_menu.png"></span>
                    tiendas
                </a>
            </li>
            <li>
                <a class="menu_contact" href="/Companies/Index">
                    <span class="ca-icon"><img src="/Content/images/companies_menu.png"></span>
                    compañias
                </a>
            </li>

            <li>
                <a class="menu_about" href="/Users/Index">
                    <span class="ca-icon"><img src="/Content/images/users_menu.png"></span>
                    usuarios
                </a>
            </li>
            <li>
                <a class="menu_blog" href="/Reports/Index">
                    <span class="ca-icon"><img src="/Content/images/reports_menu.png"></span>
                    reportes
                </a>
            </li>
            <li>
                <a class="menu_services" href="/Transactions/Index">
                    <span class="ca-icon"><img src="/Content/images/transaction_menu.png"></span>
                    ventas
                </a>
            </li>
            <li>
                <a class="menu_services" href="/Customers/Index">
                    <span class="ca-icon"><img src="/Content/images/customers_menu.png"></span>
                    clientes
                </a>
            </li>
            <li>
                <a class="menu_services" href="/CreditProcesses/Index">
                    <span class="ca-icon"><img src="/Content/images/creditprocess_menu.png"></span>
                    Procesos Credito
                </a>
            </li>
            <li>
                <a class="menu_services" href="/CreditStatuses/Index">
                    <span class="ca-icon"><img src="/Content/images/creditstatus_menu.png"></span>
                    Estado Credito
                </a>
            </li>
            
            
            
            
            
           
            
            
            
        </ul>
    </nav>
</div>
