<div id="top-menu">
    <nav>
        <ul>
            <li>
                @Html.ActionLink("Logg Out", "LogOff", "Account")
            </li>
            <li>
                <a class="menu_work" href="/Stores/Index">
                    <span class="ca-icon">S</span>
                </a>
            </li>
            <li>
                <a class="menu_contact" href="/Stores/Index">
                    <span class="ca-icon">c</span>
                </a>
            </li>
            <li>
                <a class="menu_about" href="/Users/Index">
                    <span class="ca-icon">U</span>
                </a>
            </li>
            <li>
                <a class="menu_blog" href="/Reports/Index">
                    <span class="ca-icon">Z</span>
                </a>
            </li>
            <li>
                <a class="menu_services" href="/Transactions/Index">
                    <span class="ca-icon">_</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
