@using SolucionesARWebsite.ViewModels.Users

@model SolucionesARWebsite.ViewModels.Users.DetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<h2>title</h2>
