@using SolucionesARWebsite2.ViewModels.Roles

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Roles";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}

@section EditionContent {
    <div class="edition_content content_box ">
        
        @if (Model.RolId > 0)
        {
            <h1>EDITAR ROL</h1>
        }
        else
        {
            <h1>NUEVO ROL</h1>
        }

        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Save", "Roles"))
                    {
                        @Html.HiddenFor(model => model.RolId)
                        <fieldset>
                            @Html.EditorFor(model => model.RolName)
                        </fieldset>
                        <input name="submit" type="submit" value="Guardar">
                    }
                </div>
            </div>
        </div>
    </div>
}
