@*@model SolucionesARWebsite.Models.RelationshipType*@


@using SolucionesARWebsite.ViewModels.Views.RelationshipTypes

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Relaciones";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}


@section EditionContent {
    <div class="edition_content content_box ">
        
        @if (Model.RelationshipTypesId > 0)
        {
            <h1>EDITAR RELACION</h1>
        }
        else
        {
            <h1>NUEVA RELACION</h1>
        }

        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Save", "RelationshipTypes"))
                    {
                        @Html.HiddenFor(model => model.RelationshipTypesId)
                        <fieldset>
                            @Html.EditorFor(model => model.Description)
                        </fieldset>
                            
                        <input name="submit" type="submit" value="Submit">
                    }
                </div>
            </div>
        </div>
    </div>
}

