@using SolucionesARWebsite2.ViewModels.Reports
@model BaseReportViewModel
@{
    ViewBag.Title = "SolucionesAR | Reportes";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}
@section Header {
    <h1>
        Aplicacion</h1>
}
@section Messages {
}
@section EditionContent {
    <div class="edition_content content_box ">
        <h1>
            Reporte Comportamiento de la Aplicación</h1>
        @using (Html.BeginForm("SolucionesAr", "Reports"))
        {
            <fieldset>
                <span>
                    @Html.LabelFor(model => model.BeginningDate)
                    <br />
                    @Html.EditorFor(model => model.BeginningDate)
                </span><span>
                    @Html.LabelFor(model => model.BeginningDate)
                    <br />
                    @Html.EditorFor(model => model.EndingDate)
                </span>
            </fieldset>
            <input name="submit" type="submit" value="Generar Reporte">
        }
    </div>
}
