@using SolucionesARWebsite2.Helpers
@using SolucionesARWebsite2.ViewModels.Reports

@model CompanyReportViewModel

@{
    ViewBag.Title = "SolucionesAR | Reportes";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}

@section EditionContent {
    <div class="edition_content content_box ">
        <h1>Reporte Ventas por Compañia</h1>
        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Company", "Reports"))
                    {
                        <fieldset>
                            <span>
                                @Html.LabelFor(model => model.CompaniesList) <br/>
                                @Html.DropDownListForCompaniesList(model => model.Company.CompanyId)
                            </span>
                            @Html.EditorFor(model => model.BeginningDate)
                            @Html.EditorFor(model => model.EndingDate)
                        </fieldset>
                        <input name="submit" type="submit" value="Generar Reporte">
                    }
                </div>
            </div>
        </div>
    </div>
}
