
@using SolucionesARWebsite.ModelsWebsite.Views.Districts

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Distritos";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}


@section EditionContent {
    <div class="edition_content content_box ">
        
        @if (Model.DistrictId > 0)
        {
            <h1>EDITAR DISTRITO</h1>
        }
        else
        {
            <h1>NUEVO DISTRITO</h1>
        }

        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Save", "Districts"))
                    {
                        @Html.HiddenFor(model => model.DistrictId)
                        <fieldset>
                            @Html.EditorFor(model => model.DistrictName)
                        </fieldset>
                        <fieldset>
                            <span>
                                @Html.LabelFor(model => model.CantonId)
                                @Html.EditorFor(model => model.CantonId)
                            </span>
                        </fieldset>
                        
                            
                        <input name="submit" type="submit" value="Submit">
                    }
                </div>
            </div>
        </div>
    </div>
}

