
@using SolucionesARWebsite.ModelsWebsite.Views.Provinces

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | provincias";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}


@section EditionContent {
    <div class="edition_content content_box ">
        
        @if (Model.ProvinceId > 0)
        {
            <h1>EDITAR PROVINCIA</h1>
        }
        else
        {
            <h1>NUEVA PROVINCIA</h1>
        }

        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Save", "Provinces"))
                    {
                        @Html.HiddenFor(model => model.ProvinceId)
                        <fieldset>
                            @Html.EditorFor(model => model.ProvinceName)
                        </fieldset>
                            
                        <input name="submit" type="submit" value="Submit">
                    }
                </div>
            </div>
        </div>
    </div>
}

