<span>
    @Html.Label(ViewData.ModelMetadata.DisplayName) <br/>
    @Html.DropDownList("", new SelectListItem[] { new SelectListItem() { Text = "Si", Value = "true", Selected = Model }, new SelectListItem() { Text = "No", Value = "false", Selected = !Model }})
</span>

