@using SolucionesARWebsite.ViewModels

@model BaseViewModel
           
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@section PageContent {
    <div class="edition_content">
    @{
        @RenderSection("Messages", true)

        @RenderSection("EditionContent", true)
    }
    </div>
}