<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="author" content="SolucionesAR - Develpoment Department">
    
        <!-- favicon -->
        <link rel="shortcut icon" href="favicon.ico">
     
        <!-- stylesheets -->
        <link rel="stylesheet" href="~/Content/solucionesar.style.css">
        <link rel="stylesheet" href="~/Content/themes/GReptem/style.css">
        <link rel="stylesheet" href="~/Content/themes/GReptem/jquery.fancybox.css">
        <link rel="stylesheet" id="font" href="~/Content/themes/GReptem/fonts/Terminal.css">
    
        <!-- scripts -->
        <script src="~/Scripts/libs/modernizr.js"></script>
    
        <!-- website scripts -->
    </head>

    <body>
        <section class="background">
            @{  
                Html.RenderPartial("Header");
        
                @RenderSection("PageContent")

                Html.RenderPartial("Footer");
                
                @RenderSection("Scripts", required: false)
                <script type="text/javascript" src="~/Scripts/libs/jquery.js"></script>
                <script type="text/javascript" src="~/Scripts/libs/jquery.fancybox.js"></script>
                <script type="text/javascript" src="~/Scripts/plugins.js"></script>
                <script type="text/javascript" src="~/Scripts/script.js"></script>
                <script type="text/javascript" src="~/Scripts/solucionesar.js"></script>
            }
        </section>
    </body>
</html>