<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>SolucionesAR with GRepTEM template</title>
	<meta name="description" content="">
	<meta name="author" content="SolucionesAR - Develpoment Department">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico">
     
    <!-- stylesheets -->
	<link rel="stylesheet" href="~/Content/themes/GReptem/style.css">
	<link rel="stylesheet" href="~/Content/themes/GReptem/jquery.fancybox.css">
	<link rel="stylesheet" id="font" href="~/Content/themes/GReptem/fonts/Terminal.css">
    
    <!-- scripts -->
    <script src="~/Scripts/libs/modernizr.js"></script>
	<script src="~/Scripts/libs/jquery.js"></script>
	<script src="~/Scripts/libs/jquery.fancybox.js"></script>
	<script src="~/Scripts/plugins.js"></script>
	<script src="~/Scripts/script.js"></script>
    
    <!-- website scripts -->
    <script src="@Url.Content("~/Scripts/solucionesar.js")" type="text/javascript"></script>
</head>
<body>
    @{
        Html.RenderPartial("SocialNetworks");
        
        Html.RenderPartial("Back");
        
        @RenderSection("PageContent")
            
        Html.RenderPartial("Footer");
    }
</body>
</html>

