<div id="top-menu">
    <nav>
        <ul>
            <li>
                <a class="menu_services" href="/Transactions">
                    <span class="ca-icon">_</span>
                </a>
            </li>
            <li>
                <a class="menu_blog" href="/Reports">
                    <span class="ca-icon">Z</span>
                </a>
            </li>
            <li>
                <a class="menu_about" href="/Users">
                    <span class="ca-icon">U</span>
                </a>
            </li>
            <li>
                <a class="menu_contact" href="/Companies">
                    <span class="ca-icon">c</span>
                </a>
            </li>
            <li>
                <a class="menu_work" href="/Stores">
                    <span class="ca-icon">S</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
