<section id="home">
	<div class="inner_wrap">
		<nav>
			<ul>
                <li>
                    <a class="menu_services" href="#services">
                        <span class="ca-icon">_</span>
                        <h2 class="ca-main">venta</h2>
                    </a>
                </li>
                <li>
                    <a class="menu_about" href="/Users/Index">
                        <span class="ca-icon">U</span>
                        <h2 class="ca-main">usuarios</h2>
                    </a>
                </li>
                <li>
                    <a class="menu_blog" href="#blog">
                        <span class="ca-icon">Z</span>
                        <h2 class="ca-main">reportes</h2>
                    </a>
                </li>
                <li>
                    <a class="menu_work" href="#work">
                        <span class="ca-icon">S</span>
                        <h2 class="ca-main">soporte</h2>
                    </a>
                </li>
                <li>
                    <a class="menu_contact" href="#contact">
                        <span class="ca-icon">@Html.Raw("@")</span>
                        <h2 class="ca-main">contacto</h2>
                    </a>
                </li>
			</ul>
		</nav>
	</div>
</section>