<div id="top-menu">
    <div class="inner_wrap">
        <nav>
            <ul>
                <li>
                    <a class="menu_services" href="/Sells/New">
                        <span class="ca-icon">_</span>
                        <h2 class="ca-main">venta</h2>
                    </a>
                </li>
                <li>
                    <a class="menu_blog" href="/Reports/Index">
                        <span class="ca-icon">Z</span>
                        <h2 class="ca-main">reportes</h2>
                    </a>
                </li>
                <li>
                    <a class="menu_about" href="/Users/Index">
                        <span class="ca-icon">U</span>
                        <h2 class="ca-main">usuarios</h2>
                    </a>
                </li>
                <li>
                    <a class="menu_contact" href="/Companies/Index">
                        <span class="ca-icon">c</span>
                        <h2 class="ca-main">compañias</h2>
                    </a>
                </li>
                <li>
                    <a class="menu_work" href="/Stores/Index">
                        <span class="ca-icon">S</span>
                        <h2 class="ca-main">Tiendas</h2>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
