@using SolucionesARWebsite2.ViewModels.CreditStatuses

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Estados de credito";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}


@section Header {
    @if (Model.CreditStatusId > 0)
    {
        <h1>EDITAR ESTADO</h1>
    }
    else
    {
        <h1>NUEVA ESTADO</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}


@section EditionContent {
    @using (Html.BeginForm("Save", "CreditStatuses"))
    {
        @Html.HiddenFor(model => model.CreditStatusId)

        <fieldset>
            @Html.EditorFor(model => model.CreditStatusDescription)
        </fieldset>
                            
        <input name="submit" type="submit" value="Submit">
    }
}