@using SolucionesARWebsite.Helpers
@using SolucionesARWebsite.ModelsWebsite.Views.Transactions
@model EditViewModel
@{
    ViewBag.Title = "SolucionesAR | Ventas";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}
@section Messages {
}
@section EditionContent {
    <div class="edition_content content_box ">
        <h1>
            SUBIR NUEVO ARCHIVO DE VENTAS</h1>
        <div class="entry jspScrollable">
            <p class="note">
                Complete la informacion necesaria</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    <p>
                        @using (Html.BeginForm("UploadFile", "Transactions", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        { 
                            <label for="file">
                                Elija el archivo que desea subir:</label>
                            <input type="file" name="file" id="file"  size="200" />
                            
                            
                            <label for="sheetName">
                                Nombre de la hoja:</label>
                            <input type="text" name="sheetName" />
                            
                            <input type="submit" value="Subir" />
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
}
